.Item {
  width: 250px;
  height: 120px;
  background-color: #222;
  border-radius: 10px;
  margin: 10px 15px;
  color: aliceblue;

  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

/* .Item:last-of-type {
  margin-right: 15px;
} */
.Item textarea {
  flex: 1;
  border: none;
  font-family: inherit;
  background-color: transparent;
  color: white;
  resize: none;
  padding: 15px;
}

.Item textarea:focus {
  outline: none;
}

.Btns {
  display: flex;
  justify-content: space-around;
  margin: 5px 0;
}

.Btns button {
  padding: 2px 10px;
  outline: none;
  background-color: whitesmoke;
  color: #333;
  font-family: inherit;
  border-radius: 30px;
  font-size: 10px;
  backface-visibility: hidden;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.384);
  transition: transform 0.2s ease-in;
}

.Btns button:hover {
  transform: scale(1.05);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.384);
}
