.Layout {
  height: 85%;
  width: 70%;
  background-color: #777;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.616);

  display: flex;
  justify-content: space-between;
}
